body {
    background-color: #183B4E;
    font-family: Arial, sans-serif;
}

header {
    background-color: #27548A;
    color: #F5EEDC;
    padding: 20px;
}

nav {
    background-color: #555;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.vsebina {
    font-size: 15px;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
}

summary {
    font-weight: bold;
}

footer {
    background-color: #DDA853;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
section {
    background-color: #F5EEDC;
}

main {
    flex: 3;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

aside {
    flex: 1;
    background-color: #27548A;
    padding: 1rem;
    font-weight: bold;
    color: white;

}

.Prvi, .Drugi {
    flex: 1;
    background-color: #183B4E;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    background-color: #183B4E;
}

article h2 {
    background-color: #27548A;
    color: #F5EEDC;
    padding: 10px;
}

.GlavniNaslov{
    background: #183B4E;
}

.AstroBot {
    background: #F5EEDC;
    color: #183B4E;
}

.BlackMythWukong, .Metaphor\:Refantazio {
    border: 2px solid #DDA853;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
}

td:nth-child(2) {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td[data-tooltip] {
    position: relative;
    cursor: pointer;
}

td[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(10px, -50%);
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    white-space: pre-line;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
    max-width: 250px;
}

td[data-tooltip]:hover::after {
    opacity: 1;
    pointer-events: auto;
}

td[data-tooltip] {
    position: relative !important;
    cursor: pointer;
}

